frontend/node_modules/
frontend/dist/
backend/target/
backend/project/target
backend/.idea/
frontend/.idea/
backend/project/.sbt-boot/
backend/project/.sbt-global/
backend/.bsp/
.codex
backend/problems/
judger/target/
judger/node_modules/
judger/dist/
judger/project/target/
judger/project/.sbt-boot/
judger/project/.sbt-global/
judger/.bsp/
judge-protocol/target/
judge-protocol/project/target/
judge-protocol/project/.sbt-boot/
judge-protocol/project/.sbt-global/
minio-data/
