frontend/node_modules/
frontend/dist/
backend/target/
backend/project/target
backend/.idea/
frontend/.idea/
backend/project/.sbt-boot/
backend/project/.sbt-global/
.codex
backend/problems/
judger/target/
judger/project/target/
judger/project/.sbt-boot/
judger/project/.sbt-global/
