frontend/node_modules/
frontend/dist/
backend/target/
backend/project/target
backend/.idea/
frontend/.idea/
backend/project/.sbt-boot/
backend/project/.sbt-global/
backend/.bsp/
.codex
backend/problems/
judger/target/
judger/project/target/
judger/project/.sbt-boot/
judger/project/.sbt-global/
judge-protocol-scala/target/
judge-protocol-scala/project/target/
judge-protocol-scala/project/.sbt-boot/
judge-protocol-scala/project/.sbt-global/
